.headertwo{
    display: flex;
    width: 300px;
    border: 2px solid #292929;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 1000px;
    margin-top: 40px;
    margin-left: 600px;
    margin-right: 500px;
}

#flight{
    width: 19.5px;
    height: 19.5px; 
    margin-top: 15px;
    margin-left: 50px;
    gap: 0px;
    opacity: 0px;
}
#textfr{
    width: 1000px;
    height: 16px;
    color: white;
    margin-left: 20px;
}

#contentdump1{
    width: 756px;
    height: 118px;
    margin-left: 390px;
    margin-top: 5px;
}

#herotext{
    color: #FFFFFF;
    width: 700px;
    height: 118px;
    top: 200px;
    left: 305px;
    font-family: Public Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 58.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#contentdump2{
    width: 535px;
height: 24px;
top: 391px;
left: 416px;
}

#herotext2{
    width: 535px;
height: 24px;
margin-left: 470px;
left: 600px;
font-family: Public Sans;
font-size: 20px;
font-weight: 400;
line-height: 23.5px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}

#createButton{
    display: flex;
    width: 275px;
height: 48px;
margin-top: 50px;
margin-left: 600px;
border-radius: 1000px;
background: #404040;
cursor: pointer;
}

#Btncreate{
    color: white;
    width: 152px;
    height: 19px;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 70px;
}

#arrow{
    width: 25px;
    height: 12px;
    margin-top: 18px;
    margin-left: 1px;
    border: 2px 0px 0px 0px;
    cursor: pointer;
}

#accnthave{
    display: flex;
    width: 535px;
height: 19px;
margin-top: 10px;
margin-left:650px;
}

#accthavetxt{
    color: #FFFFFF;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
}