.header {
    display: flex;
    gap: 9px;
}

#tagline {
    color: #ffffff;
    font-size: larger;
    margin-top: 27px;
}

#logo {
    width: 42.22px;
    height: 40px;
    top: 19px;
    left: 45px;
    opacity: 0px;
    margin-top: 18px;
    margin-left: 18px; 
    cursor: pointer;
}

body{
    background-color: black;
    width: 1500px;
    height: 776px;
    top: 209px;
    left: 154px;
    gap: 0px;
    opacity: 0px;
}